table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
}

input {
    border-color: #000;
    outline: none;
}

input:valid {
    border-color: #000;
}

input:invalid {
    border-color: red;
}